$main_font: 'Roboto';

@mixin max-screen($res) {
	@media screen and (max-width: $res) {
		@content;
	}
}

// header


.header_icon {
	display: flex;
	align-items: center;

	li {
		list-style: none;

		&:first-of-type {
			margin-right: 15px;
			position: relative;
			top: -3px
		}

		&:last-of-type {
			margin-left: 7px;
		}
	}
}

.container {
	max-width: 1064px;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	margin-left: -40px;
	top: 7px;

}

.nav-link {
	font-family: $main_font;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: #1C1B1B;
}

.header {
	padding-top: 15px;
}

.navbar-collapse {
	display: flex;
}

// header 

// section main_banner

.main_banner {
	background-color: #F0EFEB;
	padding: 90px 0 24px;

	@include max-screen(991px) {
		text-align: center;
	}

	img {
		position: relative;
		top: -90px;

		@include max-screen(1227px) {
			width: 100%;
		}

		@include max-screen(991px) {
			width: 100%;
			top: 0;
		}

	}

	h1 {
		font-family: $main_font;
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		margin-bottom: 42px;
		line-height: 70px;
		color: #000000;
	}

	p {
		font-family: $main_font;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 33px;
		line-height: 28px;
		color: #000000;
	}


}

.btn-dark {
	border-radius: 100px;
	background: #000000;
	padding: 7px 23px 9px;
}

// section main_banner
// section guides

.guides {
	padding: 60px 0 0;

	h2 {
		font-family: $main_font;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		margin-bottom: 27px;
		line-height: 42px;
		text-align: center;
		color: #000000;
	}

	p {
		max-width: 632px;
		margin: auto;
		font-family: $main_font;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		text-align: center;
		color: #000000;
	}
}

// section guides

// section sellers

.sellers {
	padding: 88px 0 248px;

	@include max-screen(991px) {
		padding-bottom: 100px;
	}

	h2 {
		font-family: $main_font;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 52px;
		text-align: center;
		color: #000000;
	}

	.card {
		border: none;
		max-width: 309px;
		display: inline-block;

		.card-title {
			font-family: $main_font;
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			margin: 27px 0 17px;
			text-align: center;
			color: #000000;
		}

		.card-text {
			font-family: $main_font;
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 20px;
			margin-bottom: 10px;
			text-align: center;
			color: #000000;
		}

		a {
			font-family: $main_font;
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			text-decoration-line: underline;
			color: #000000;
		}
	}
}

// section sellers

// section shop

.shop {
	padding: 76px 0 51px;
	background: rgba(204, 204, 204, 0.3);

	@include max-screen(991px) {
		text-align: center;
	}

	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 31px;
		color: #000000;
	}

	p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 40px;
		color: #000000;
	}

	a {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #000000;
	}
}

.shop_center {
	background: rgba(204, 204, 204, 0.6);
	padding: 76px 0 51px;
	text-align: right;

	@include max-screen(991px) {
		text-align: center;
	}

	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 31px;
		color: #000000;
	}

	p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 40px;
		color: #000000;
	}

	a {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #000000;
	}
}


// section shop


// guides-unique
.guides-unique {
	padding: 190px 0 52px;

	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #000000;
		margin-bottom: 69px;
	}

	article {
		.s1::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #21F7EC;
			border-radius: 50%;
		}

		.s2::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #33D3BC;
			border-radius: 50%;
		}

		.s3::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #18A5C6;
			border-radius: 50%;
		}

		.s4::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #D38F62;
			border-radius: 50%;
		}

		.s5::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #F94C43;
			border-radius: 50%;
		}

		.s6::before {
			content: "";
			width: 70px;
			height: 70px;
			display: inline-block;
			background-color: #D399FF;
			border-radius: 50%;
		}

		p {
			margin-top: 26px;
			margin-bottom: 111px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 35px;
			color: #000000;

			@include max-screen(688px) {
				font-size: 25px;
			}

			@include max-screen(588px) {
				font-size: 23px;
			}
		}
	}
}


// such_as

.such_as {
	padding-bottom: 290px;

	@include max-screen(893px) {
		padding-bottom: 50px;
	}

	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #000000;
	}
}

// such_as

// people

.people {
	background: #F0F0F0;
	height: 480px;




	@include max-screen(1013px) {
		height: auto;
		padding-bottom: 20px;
	}


	@include max-screen(767px) {
		height: auto;
		padding-bottom: 20px;
	}

	@include max-screen(605px) {
		height: auto;
		padding-bottom: 20px;
	}

	@include max-screen(375px) {
		height: auto;
		padding-bottom: 20px;
	}

	article {
		position: relative;
		bottom: 188px;
		margin: 0 20px;


		@include max-screen(1013px) {
			position: relative;
			bottom: 0;
			padding-top: 40px;
		}

		@include max-screen(893px) {
			position: relative;
			bottom: 0;
			padding-top: 40px;
		}

		@include max-screen(767px) {
			position: relative;
			bottom: 0;
			padding-top: 40px;
		}

		@include max-screen(685px) {
			border-bottom: 1px solid black;
			position: relative;
			bottom: 0;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@include max-screen(375px) {
			border-bottom: 1px solid black;
			position: relative;
			bottom: 0;
			padding-top: 40px;
		}

		blockquote {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 22px;
			line-height: 26px;
			padding-top: 35px;
			padding-bottom: 34px;
			text-align: center;
			letter-spacing: 0.6px;
			color: #000000;
		}

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 19px;
			line-height: 22px;
			padding-bottom: 44px;
			text-align: center;
			color: #000000;
		}

		a {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			text-align: center;
			text-decoration-line: underline;
			color: #000000;
		}
	}
}

// people
.in_touch {
	padding: 79px 10px 88px;

	h2 {
		margin-bottom: 26px;
	}

	form {
		.f-name {
			input {
				max-width: 153px;
				margin: 0 30px 18px;
			}
		}

		.f-mail {
			width: 366px;

			@include max-screen(375px) {
				width: 356px
			}
		}

		.subscribe {
			input {
				margin-top: 23px;
				padding: 7px 23px 10px;
				background: #000000;
				border: 1px solid #000000;
				border-radius: 100px;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				color: #FFFFFF;

			}
		}
	}
}

// footer

footer {
	background-color: #020202;
	padding: 51px 0 16px;

	.footer_icon {
		margin-top: 45px;
		display: flex;
		align-items: center;
		padding: 0;

		li {
			margin-right: 23px;
			list-style: none;
		}
	}

	.about {
		padding-left: 70px;

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 23px;
			color: #FFFFFF;
			margin-bottom: 36px;
		}

		li {
			list-style: none;
			margin-bottom: 12px;

			a {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				color: #FFFFFF;
				text-decoration: none;
			}

		}
	}

	.contact {
		padding-left: 70px;

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 23px;
			color: #FFFFFF;
			margin-bottom: 36px;
		}

		li {
			list-style: none;
			margin-bottom: 12px;

			a {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				color: #FFFFFF;
				text-decoration: none;
			}
		}
	}

	.p-center {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
		text-align: center;
		color: #FFFFFF;
	}


}

// footer